/*the css for the navigation bar*/
header {
    display: flex;
    justify-content: space-between; /* BookBridge on the left, links on the right */
    align-items: center;
    background-color: black;
    padding: 10px 30px;
    color: white;
}

header h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4a7ebb;
}